<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ "/" }}">RS1 home</a></li>
				{% for page in site.pages %} 
                                    {% if page.title %} {% unless page.permalink =='/' %}
                                        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                                    {% endunless %} {% endif %} 
                                {% endfor %}
			</ul>
		</nav>
	</div>
</aside>

<header>
  {% comment %}
  I think I can live without the banner
  {% endcomment %}
  <!---h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1--->
 
</header>
 
